@import url(http://fonts.googleapis.com/css?family=Vollkorn);

body
{
    color: #26282A;
    background-color: #E9EDED;

    font-family: 'Vollkorn', sans-serif;
    font-size: 17px;

    margin: 0px 0px 0px 0px;
    padding 0px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li
{
    display: inline;
}

p
{
    //text-indent: 48px;
    line-height: 160%;
}

b
{
    font-weight: 400;    
    font-size: 19px;
    color: #2A76EA;
    //background-color: #D4D6D6;
    //background-color: #26282A;
}

a
{
    color: #2A76EA;
}

#titlebar
{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;

    color: #CACAC8;

    //background-color: #26282A;
    background-image: url('../images/title-bg.jpg');
    -moz-box-shadow:    0px 1px 6px 0px #26282A;
    -webkit-box-shadow: 0px 1px 6px 0px #26282A;
    box-shadow:         0px 1px 6px 0px #26282A;

    z-index: 1;
}

#titlebar a
{
    text-decoration: none;
    color: #CACAC8;
}

#titlebar a:hover
{
    text-shadow: 0px 0px 10px #5A96EA
}

#titlecontent
{
    position: absolute;
    
    width: 800px;
    height: 80px;

    top: 0;
    left: 50%;
    margin-left: -400px;

    //background: #9A9A9A;
}

#name
{
    position: absolute;
    top: 6px;
    left: 10px;

    font-size: 32px;
}

#links
{
    position: absolute;
    bottom: 10px;
    right: 10px;

    font-size: 18px;
}

#container
{
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;

    width: 100%;
}

#content
{
    position: absolute;

    width: 800px;
    min-height: 100%;

    top: 0;
    left: 50%;
    margin-left: -400px;

    padding: 10px 25px;
    box-sizing: border-box;

    //background-color: #BBBBBB;
}

#content h1
{
    font-size: 36px;
    margin-left: -15px;
}

#content hr
{
    border: 0;
    height: 1px;
    width: 95%;

    background: #929292;
}

#content hr.top
{
    position: absolute;
    top: 12px;
    width: 800px;
    margin-left: -25px;
    background: #565656
}

#content hr.bottom
{
    bottom: 10px;
    width: 800px;
    margin-left: -25px;
    background: #565656
}

#project-content
{
    margin-left: 20px;
}

input
{
    border: 1px;
    border-radius: 5px;

    background: #C0C2C2;
}

input[type=submit]
{
    border: 1px solid #9A9C9C;
    height: 30px;
    width: 96px;
}

input.line
{
    padding: 0 6px 0px 6px;
    margin: 0 0 20px 0;

    width: 360px;
    height: 26px;
}

input.check
{
    position: relative;
    top: 2px;
    margin-left: 40px;
}

textarea.block
{
    border: 1px;
    border-radius: 5px;
    padding: 6px;
    margin: 0 0 20px 0;

    width: 720px;
    height: 220px;

    background: #C0C2C2;
}
